language:
- objective-c
- c++

compiler:
- clang

sudo: false
os: osx
osx_image: xcode7.3

script:
- mkdir build
- cd build
- cmake -G Xcode ..
- cmake --build . --config Release | sed 's/-Wl,-.*//g'
- ctest -C Release . -V
- cd ..
- PACKAGE_NAME=`echo $TRAVIS_REPO_SLUG | sed 's/.*\///g'`
- PACKAGE_REV=`echo $TRAVIS_COMMIT | sed -e 's/^[[:alnum:]]\{6\}/&-/g' | sed 's/-.*//'`
- mkdir $PACKAGE_NAME
- if [ -e package-info.json ]; then cp package-info.json $PACKAGE_NAME; fi
- for f in *.md; do [ -e "$f" ] && cp "$f" $PACKAGE_NAME ; done
- if [ -e icon.png ]; then cp icon.png $PACKAGE_NAME; fi
- if [ -d code ]; then cp -r code $PACKAGE_NAME; fi
- if [ -d docs ]; then cp -r docs $PACKAGE_NAME; fi
- if [ -d examples ]; then cp -r examples $PACKAGE_NAME; fi
- if [ -d extensions ]; then cp -r extensions $PACKAGE_NAME; fi
- if [ -d externals ]; then cp -r externals $PACKAGE_NAME; fi
- if [ -d extras ]; then cp -r extras $PACKAGE_NAME; fi
- if [ -d help ]; then cp -r help $PACKAGE_NAME; fi
- if [ -d init ]; then cp -r init $PACKAGE_NAME; fi
- if [ -d java-classes ]; then cp -r java-classes $PACKAGE_NAME; fi
- if [ -d java-doc ]; then cp -r java-doc $PACKAGE_NAME; fi
- if [ -d javascript ]; then cp -r javascript $PACKAGE_NAME; fi
- if [ -d media ]; then cp -r media $PACKAGE_NAME; fi
- if [ -d misc ]; then cp -r misc $PACKAGE_NAME; fi
- if [ -d patchers ]; then cp -r patchers $PACKAGE_NAME; fi
- if [ -e $PACKAGE_NAME/ReadMe-Public.md ]; then rm -f $PACKAGE_NAME/ReadMe.md; mv $PACKAGE_NAME/ReadMe-Public.md $PACKAGE_NAME/ReadMe.md; fi
- mkdir dist
- zip -r dist/$PACKAGE_NAME-$PACKAGE_REV.zip $PACKAGE_NAME

deploy:
  provider: s3
  access_key_id: AKIAIWE3SI2TMXC5AJBA
  secret_access_key:
      secure: "Ix69x8rU4Im2ACNX+288d7AO1g2UPvKOeFxpf3Z9XrpNq/60EUQObrTCAOFrWv05ZzNRZadqeBG3OgptY1w6JLgvFqrWjRX1YxwxFRS/Braa1PW1LNT1UIoSIIeH8uteqyYGe7ugGhBEvmMKAqHSpb1FeW3FYUIeMqHvSYFxb7Hf5mBWW/5kWWK67fdBZKay0qZmgkSvd2ypQYZE/wINthExOxaK9olHeluU6pkrQYNci0MhbRF0jtSbGN1Wg4/iyYkGTRPNBsNx3CBXvxv8hZtPz6HVpLp6YEsxFFdzVpcWBdjIj2wo6hk5yJaSJShr0I97/2WOQfAJg3qbqaWtf1ty629nrMBS7jgY2YMANunOmG5+eMiihAJWg3zrQ2PC/zo1b0IQdp6YYbynP1Y7LqM05wMf61agUAnr9hetBQceDxv47LoQHxdanVeEeDYHUR3SycOMAtqoR4buv5rSYcLUQ2SLLvBNcU5h9yWRRKwmklA9qPBYzWv/v/UlkfERfePuSUAyoiyoKQhyknDCpGChsZW4cETT23ANf08+FddK5WGx0e4Wmt9w5MCi9JoQtlHCsPilX2PKI15urQ9e/bRW4tjjp57K2Sh+K7wOUuDPPHlykJqHCaZN+ruZbnPXF/GHHkqVB+7JhuTGmE96SGLEDLj+6s+7/5yHOv2W5ag="
  bucket: cycling74-ci
  skip_cleanup: true
  local-dir: dist
  upload-dir: min-devkit
  acl: public_read
  on:
    repo: Cycling74/min-devkit
